/* .App {
    background-color: #ECAEB9;
    ;
} */
.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.customModeDeleteBtn:hover {
    color: #DAA1AB;
    background: white;
}

.customModeBtn:hover .customModeDeleteBtn {
    opacity: 1;
}


@keyframes anvil {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }

    1% {
        transform: scale(0.96) translateY(10px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }

    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
        box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
}

.popup-content {
    -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    width: 400px;
    border-radius: 1rem;
    height: auto;
}

.todoList-add {
    transform-origin: right;
    /* direction: rtl; */
    animation: todoList 0.5s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    /* animation-direction: reverse; */
}

@keyframes todoList {
    0% {
        /* scale: 0%; */
        opacity: 0%;
        width: 0;
        right: 0;
    }

    100% {
        /* scale: 100%; */
        width: 100%;
        opacity: 1;
        right: auto;
    }
}